body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Inter', sans-serif
}

#upper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    background-color: #6943FF;
    color: white;

    height: 285px;
    width: 100%;
}

#header {
    margin: 0;
    font-size: 28px;
    font-weight: 800;
}

#number-input {
    margin: 0;
    font-size: 58px;
    font-weight: 800;
    text-align: center;
    
    width: 117px;
    height: 83px;

    border-radius: 5px;
    border: 2px solid #B295FF;
    background-color: inherit;
    color: white;
}

#convert-btn {
    margin: 0;

    border-radius: 5px;
    border: none;
    background-color: white;
    color: #3D3D3D;
    
    font-size: 16px;
    font-weight: normal;

    width: 117px;
    height: 42px;
}

#lower-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;

    padding-top: 35px;
    padding-bottom: 35px;

    background-color: #F4F4F4;
    width: 100%
}

.box {
    width: 500px;
    height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: white;
    text-align: center;

    border-radius: 10px;
}

.box-header {
    margin: 0;
    color: #5A537B;

    font-size: 20px;
    font-weight: 600;
}

.box-text {
    margin: 0;
    color: #353535;
}



